{% extends 'main.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <h1>Elizabeth's Blog</h1>
    {% if user.is_authenticated%}
    <p>welcome {{user.username}}</p>
    <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
    <p><a href="{%url 'login' %}">login</a></p>
    {%endif%}
    <a href="{% url 'create'%}"> Create Blog</a>
    <form action="{% url 'home' %}">
      <input name="q" placeholder="search for blogs here" />
    </form>
    <p>{{posts_count}} posts found</p>
    <hr />
    {% for post in posts %}
    <div>
      {% if post.image %}
      <div><img src="{{ post.image.url }}" alt="Post Image" /></div>
      {% endif %} {% if category %}
      <p>
        {{ post.category }} this should be a link to all the health related
        blogs
      </p>
      {%endif%}

      <a href="{% url 'post' post.id %}">
        <h2>{{ post.title}}</h2>
      </a>
      <p>{{ post.description }}</p>
      <h4>Authur {{post.created_at|timesince}}</h4>
      {% if request.user == post.author %}
      <p><a href="{% url 'edit' post.pk %}">Edit blog Post</a></p>
      <p><a href="{% url 'delete' post.pk %}">delete blog Post</a></p>
      {% endif %}
      <hr />
    </div>

    {% endfor %}
  </body>
</html>
{% endblock %}
