{% extends 'main.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>post</title>
  </head>
  <body>
    <a href="/">home</a>

    <h1>an image should be here</h1>
    <h2>{{ posts.title}}</h2>
    {{ posts.category }} this should be a link to all the health related blogs
    <p><a href="{% url 'edit' posts.id %}">Edit blog Post</a></p>
    <p><a href="{% url 'delete' posts.id %}">delete blog Post</a></p>
    <h4>Authur {{posts.created_at|timesince}}</h4>
    <p>{{ posts.body }}</p>

    <h1>Add related links here</h1>
    <h1>Add comments here</h1>
  </body>
</html>
{% endblock %}
