{% extends 'main.html' %} {% block content %}

<a href="/">home</a>

<h1>an image should be here</h1>
<h2>{{ post.title}}</h2>
{{ post.category }} this should be a link to all the health related blogs
<!-- Show edit/delete only if current user is the author -->
{% if request.user == post.author %}
<p><a href="{% url 'edit' post.pk %}">Edit blog Post</a></p>
<p><a href="{% url 'delete' post.pk %}">delete blog Post</a></p>
{% endif %}
<h4>Authur {{post.created_at|timesince}}</h4>
<p>{{ post.body }}</p>

<h1>Add related links here</h1>
<!-- <h1>Add comments here</h1> -->
{% if request.user.is_authenticated %}
<h3>Comments Sections</h3>

{% for comment in post_comments %}
<p>
  <a href="{% url 'profile' comment.author.id %}">@{{comment.author.username}}</a> -- {{ comment.body }} --
  <span>{{ comment.created_at|timesince}} ago</span>
  <div>
    <a href="{% url 'like_comment' comment.id %}"
    >👍 ({{ comment.like_count }})</a
  >
  
   <!-- Reply form -->
<!-- <form action="{% url 'reply_comment' post.id comment.id %}" method="POST" style="margin-left:20px;">
  {% csrf_token %}
  <input type="text" name="body" placeholder="Reply here" />
  <input type="submit" value="Reply" />
</form> -->
  </div>
 
  {% if request.user == comment.author %}
  <a href="{% url 'edit-comment' comment.id %}">Edit Comment</a>
  <a href="{% url 'delete' comment.id %}">Delete Comment</a>
 

<!-- Show replies -->
<!-- {% for reply in comment.replies.all %}
  <div style="margin-left:40px;">
    <p>@{{ reply.author.username }} -- {{ reply.body }} --
    <span>{{ reply.created_at|timesince }} ago</span></p>
    <a href="{% url 'like_comment' reply.id %}">👍 ({{ reply.like_count }})</a>
  </div>
{% endfor %} -->

  {% endif %}
</p>
<hr />

{% endfor %}

<form action="" method="POST">
  {%csrf_token%}
  <input type="text" name="body" placeholder="add your comments here" />
  <input type="submit" value="Add" />
</form>
{% else %}
<p>You must <a href="{% url 'login' %}">log in</a> to add a comment.</p>
{% endif %} {% endblock %}
